﻿body {
    /*background-color:#FFBB7D;*/
}
    .titlearea {
        margin-top: 15px;
	    margin-left: 120px;
    }
    .hubSections {
		/*background-image:url('../images/Starta.JPG');
		background-repeat:no-repeat;
		background-position:center;*/		
	    width: 100%;
	    height: 100%;
	    display: -ms-grid;
	    -ms-grid-rows: 175px 300px 1fr;
	    -ms-grid-columns: 120px 200px 80px 450px 1fr;
    }
    .hubSection1 {
	    width: 100%;
	    height: 100%;
	    -ms-grid-row: 1;
	    -ms-grid-column: 2;
    }
    .hubSection2 {
	    width: 100%;
	    height: 100%;
	    -ms-grid-row: 1;
	    -ms-grid-column: 4;
    }
    .hubSection4 {
	    width: 100%;
	    height: 100%;
	    -ms-grid-row: 2;
	    -ms-grid-column: 2;
    }
    .hubSection3 {
	    width: 100%;
	    height: 100%;
	    -ms-grid-row: 2;
	    -ms-grid-column: 4;
    }
    .gpsTxt {
	    height: 10%;
    }
    .mapArea {
	    width: 100%;
	    height: 90%;
    }

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

@media screen and (-ms-view-state: snapped) {
    .titlearea {
	    margin-left: 40px;
    }
    .hubSections {
		/*background-position: bottom;*/		
	    width: 100%;
	    height: 100%;
	    display: -ms-grid;
	    -ms-grid-rows: 100px 30px 100px 20px 340px 10px 30px;
	    -ms-grid-columns: 40px 240px 1fr;
    }
    .hubSection1 {
	    width: 100%;
	    height: 100%;
	    -ms-grid-row: 1;
	    -ms-grid-column: 2;
    }
    .hubSection2 {
	    width: 100%;
	    height: 100%;
	    -ms-grid-row: 3;
	    -ms-grid-column: 2;
    }
    .hubSection3 {
	    width: 100%;
	    height: 100%;
	    -ms-grid-row: 5;
	    -ms-grid-column: 2;
    }
    .hubSection4 {
	    width: 100%;
	    height: 100%;
	    -ms-grid-row: 7;
	    -ms-grid-column: 2;
    }
    .gpsTxt {
	    height: 15%;
    }
    .mapArea {
	    height: 85%;
    }
}

