﻿/* All of the below styles build incrementally on the base Windows styles found in ui-light.css. */

/* Creates a desert background in the sample area. */
body
{
    background-image: linear-gradient(to top, #FF9331 0%, #EDC88A 100%);/*FF9331, fc8920*/
    color: rgb(155, 0, 0);/*rgb(95,58,33)*/
}
hr {
	color: #956D42;
	background-color: #956D42;
	height: 3px;
}

/* label color */
label
{
    color: rgb(155, 0, 0);    
}

/*title color */

.titlearea #styleTitle
{
    color: rgb(155, 0, 0) !important;
}

/*-----------------------------------------------------------------------------  
    checkbox  
-----------------------------------------------------------------------------*/


/* Colors the checkmark orange. */
input[type="checkbox"]::-ms-check
{
    color: #ff6600;
}

/*-----------------------------------------------------------------------------  
    input range  
-----------------------------------------------------------------------------*/

/* Gives the range element a orange background. */
input[type="range"]::-ms-fill-lower
{
    background-color: #ff6600;
    background-image: linear-gradient(to top, #fc7905 0%, #fd9917 100%);
}

/* Hides the upper fill part so its colors don't compete with our intended look. */
input[type="range"]::-ms-fill-upper
{
    display: none;
}

/* Colors the part of the range to the left of the thumb. */
input[type="range"]:hover::-ms-fill-lower
{
    background-color: #ff6600;
    background-image: linear-gradient(to top, #fc7905 0%, #fd9917 100%);
}

/*-----------------------------------------------------------------------------  
    text box  
-----------------------------------------------------------------------------*/

/* Gives us a white background and an orange border on the text input. */
input[type=text]
{
    background-color: rgba(255,255,255,0.8);
    border: 2px solid rgb(255,255,255);
    color: #ff6600;

}



input[type=text]:hover, input[type=text]:active, input[type=text]:focus
{
    background-color: rgb(255,255,255);
    border: 2px solid #ff6600;
}

/*-----------------------------------------------------------------------------  
    button  
-----------------------------------------------------------------------------*/

/* Colors the buttons*/
input[type="button"], input[type="reset"]
{
    background-image: linear-gradient(to top, #ffc939 0%, #fed54e 100%);
    border: 2px solid #ffc939;
     color: #ffffff;
    
}

input[type="button"], input[type="reset"]:hover
{
    border-color: #ff6600;
}

input[type="submit"]
{
    background-image: linear-gradient(to top, #fc7905 0%, #fd9917 100%);
    border: 2px solid #fc7905;
    color: rgb(255,255,255);
}


input[type="submit"]:hover
{
    border-color: #ff6600;
}
/*-----------------------------------------------------------------------------  
    radio button  
-----------------------------------------------------------------------------*/

/* Colors the radio buttons. Note that the structure of both radio buttons and 
   checkboxes is that there is both an outer box for the element as well as an inner box,
   which can be addressed with the ::-ms-check pseudo-element. The inner box has 
   a built in glyph - a circle or a check mark - that is displayed when the control 
   is checked. This glyph's appearance is changed by changing the color of the 
   ::-ms-check pseudo-element, while the background appearance of the inner box is 
   changed by changing the background-color of the pseudo-element. For the purposes 
   of this sample, the outer box is completely transparent and unstyled. */
input[type="radio"]::-ms-check
{
    background-color: rgba(255,255,255,0.8);
    border: 2px solid rgb(255,255,255);
    color: #ff6600;
}

/* Changes the appearance of the checkmark and the inner box border when any part 
   of the control is hovered over. Note that if the selector below were written 
   ::-ms-check:hover instead, the CSS rules would only be active when the
   inner box was hovered over.*/
input[type="radio"]:hover::-ms-check
{
    color: black;
    border: 2px solid rgb(255, 102, 0);
}

/*-----------------------------------------------------------------------------  
    checkbox  
-----------------------------------------------------------------------------*/

/* Colors the checkboxes. Note that the structure of both radio buttons and 
   checkboxes is that there is both an outer box for the element as well as an inner box,
   which can be addressed with the ::-ms-check pseudo-element. The inner box has 
   a built in glyph - a circle or a check mark - that is displayed when the control 
   is checked. This glyph's appearance is changed by changing the color of the 
   ::-ms-check pseudo-element, while the background appearance of the inner box is 
   changed by changing the background-color of the pseudo-element. For the purposes 
   of this sample, the outer box is completely transparent and unstyled. */
input[type="checkbox"]::-ms-check
{
    background-color: rgba(255,255,255,0.8);
    border: 2px solid rgb(255,255,255);
    color: #ff6600;
}

/* Changes the appearance of the checkmark and the inner box border when any part 
   of the control is hovered over. Note that if the selector below were written 
   ::-ms-check:hover instead, the CSS rules would only be active when the
   inner box was hovered over.*/
input[type="checkbox"]:hover::-ms-check
{
    color: black;
    border: 2px solid rgb(255, 102, 0);
}




/*-----------------------------------------------------------------------------  
    input range  
-----------------------------------------------------------------------------*/

/* Resizes the range control so that the custom thumb below will not be clipped. */
input[type="range"]
{
    height: 25px;
}

input[type="range"]::-ms-track, 
input[type="range"]:hover::-ms-track
{
    background-color: #ffc939;
    opacity: 1;
    height: 10px;
}

/* Replaces the thumb with an SVG image. */
input[type="range"]::-ms-thumb
{
    background-color: transparent;
    background-image: url('../images/customThumb.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

