﻿/*
Back button.
*/
.xtra-playbutton, button[id=stateButton]{
    display: inline-block;
    min-width: 0;
    min-height: 0;
    background-clip: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    text-align: center;

    /* Normal sizing. */
    width: 42px;
    height: 42px;
    font-size: 12pt;
    line-height: 37px; /* line-height must match the content box height. */
    /*vertical-align: baseline;*/
}
.xtra-playbutton:hover, .xtra-playbutton:hover:active {
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}
.xtra-playbutton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E102";
    /*vertical-align: 50%;*/
}
.xtra-playbutton:disabled, .xtra-playbutton:disabled:active {
    visibility: hidden;
}

/*
Back button snapped view sizing.
*/
@media (-ms-view-state: snapped) {
    .xtra-playbutton, button[id=stateButton] {
        width: 30px;
        height: 30px;
        font-size: 8pt;
        line-height: 26px; /* line-height must match the content box height */
        vertical-align: -0.37em;
    }
}

/* State buttons */
.xtra-notreadybutton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E0CA";
    color: grey;
}
.xtra-readybutton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E0CA";
    color:green;
}
.xtra-runningbutton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E0CA";
    color:red;
}
.xtra-stoppedbutton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E0CA";
    color:yellow;
}
